@import "../styles/mixins.scss";

.home-form {
    display: none;
    position: absolute;
    top: 90px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 90px);
    background-color: rgba($collorPrimary, 0.8);

    .home-btn-area {
        margin-top: 20px;

        .home-btn {
            @include btn;
            background-color: $collorAccept;
        }
    }
}

.home-area {
    width: 100%;
    padding: 10px;
    min-height: calc(100vh - 90px);
    background-color: #f3f3f3;

    .home-list {
        display: flex;
        flex-direction: column;

        h2 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .home-btn-area {
        margin-top: 20px;
        margin-bottom: 20px;

        .home-btn {
            @include btn;
            background-color: $collorAccept;
        }
    }
}
