@import "../styles/mixins.scss";

header {
    width: 100%;
    min-height: 90px;
    background-color: $collorPrimary;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #fff;
    }
}
